<div class="container" ng-init="initCanvas()">
    <br>
    <br>
    <br>
    <img style="max-height: 200px; max-width: 800px" src="https://s3.eu-central-1.amazonaws.com/moroz/test.svg">
    <a href="https://s3.eu-central-1.amazonaws.com/moroz/test.svg" download>save</a>

    <br>
    <br>
    <br>

    <div class="root-board"></div>

    <br>
    <button ng-click="upload()">Save</button>

    <br>
    <br>
</div>

<!--<div class="container" ng-init="initCanvas()">
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a show-tab href="#my">My creations</a></li>
        <li><a show-tab href="#create-img">Create</a></li>
    </ul>

    <br>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my">
            <img src="https://s3.eu-central-1.amazonaws.com/moroz/test.svg">
            <a href="https://s3.eu-central-1.amazonaws.com/moroz/test.svg" download>save</a>
        </div>
        <div role="tabpanel" class="tab-pane" id="create-img" >

            <div class="root-board"></div>

            <br>
            <button ng-click="upload()">Save</button>
        </div>

    </div>

    <br>
    <br>
</div>-->
