<section id="main">
    <div class="egg-pictures">
        <img class="img-arrow" src="img/line-left.png" alt="">
        <img class="img-egg" src="img/eggs.png" alt="">
        <img class="img-arrow" src="img/line-right.png" alt="">

        <h2>345 567</h2>
    </div>

    <div class="social">
        <h4>Join & Share</h4>
        <a class="social-icons" href=""><img src="img/facebook.png" alt=""></a>
        <a class="social-icons" href=""><img src="img/twitter.png" alt=""></a>
        <a class="social-icons" href=""><img src="img/instagram.png" alt=""></a>
        <a class="social-icons" href=""><img src="img/pinterest.png" alt=""></a>
        <a class="social-icons" href=""><img src="img/google-plus.png" alt=""></a>
        <a class="social-icons" href=""><img src="img/youtube.png" alt=""></a>
    </div>
</section>
<section id="section-photos">
    <ul class="photo-showcase clearfix">
        <li>
            <figure class="photo-people">
                <img src="img/img1.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people">
                <img class="photo-equal" src="img/img2.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people overlay">
                <img src="img/img3.png" alt="">
            </figure>
        <li>
            <figure class="photo-people">
                <img src="img/img4.png" alt="">
            </figure>
        </li>
    </ul>
    <ul class="photo-showcase  clearfix">
        <li>
            <figure class="photo-people">
                <img src="img/img5.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people">
                <img src="img/img6.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people">
                <img src="img/img7.png" alt="">
            </figure>
        <li>
            <figure class="photo-people">
                <img src="img/img8.png" alt="">
            </figure>
        </li>
    </ul>
    <ul class="photo-showcase  clearfix">
        <li>
            <figure class="photo-people">
                <img src="img/img9.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people">
                <img src="img/img10.png" alt="">
            </figure>
        </li>
        <li>
            <figure class="photo-people">
                <img src="img/img11.png" alt="">
            </figure>
        <li>
            <div class="photo-back">
                <img class="Aligner-item" src="img/plus.png" alt="">
            </div>
        </li>
    </ul>
    <div class="photo-title">
        <h3>Join Us</h3>
    </div>
</section>